*.iml
.DS_Store/
.idea/
.gradle/
out/
bin/
build/
contact/*.iml
contact/.DS_Store/
contact/.idea/
contact/.gradle/
contact/out/
contact/bin/
contact/build/
dept/*.iml
dept/.DS_Store/
dept/.idea/
dept/.gradle/
dept/out/
dept/bin/
dept/build/
payment/*.iml
payment/.DS_Store/
payment/.idea/
payment/.gradle/
payment/out/
payment/bin/
payment/build/